<!DOCTYPE html>
<html>
  <head>
    <title>Microposts On Steroids</title>
    {{response.files.append(URL('static', 'css/bootstrap.min.css'))}}
    {{response.files.append(URL('static', 'css/custom.css'))}}
    {{include 'web2py_ajax.html'}}
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-4">
            <h1>Tukker.Me</h1>
          </div>
          <div class="col-md-2"></div>
          <nav>
            <div class="col-md-1">
              <a href="#">Home</a>
            </div>
            <div class="col-md-1">
              <a href="#">Help</a>
            </div>
            <div class="col-md-1">
              <a href="#">Login</a>
            </div>
            <div class="col-md-1">
              <a href="#">Privacy</a>
            </div>
          </nav>
          <div class="col-md-2"></div>                  
        </div>
      </header>
      <section id="main">
        <div class="row">
          <div class="col-md-12">
            <h1>Messages With 300 Chars</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"
            <p>Welcome to <strong>Tukker.Me</strong>, the new way to 
            tell your friends and the world what you are thinking.</p>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-default">Register</a>
          </div>
        </div>
      </section>
      <footer>
        <div class="row">
          <nav>
            <div class="col-md-1">
              <a href="#">About</a>
            </div>
            <div class="col-md-1">
              <a href="#">Terms</a>
            </div>
            <div class="col-md-1">
              <a href="#">Contact</a> 
            </div>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>